<div class="cmainbox">
	<div>
	   <label><strong> Add Task</strong> </label><br>
	   <input style="width:400px;" 
	   type="text" 
	   id="inputTask" 
	   [(ngModel)]="inputTask" 
	   placeholder="Please add your task here."
	   (keydown)="onKeydown($event)"/>
	   <p *ngIf=" userIsTyping " >is typing ....</p>
	   &emsp;
	   <p style="width:200px;"></p>
	   <button type="button" class="btn btn-primary" (click)="addToTaskList()" >ADD</button>
	</div>
	<hr>
	<div>
	    <label [ngClass]=" ( taskSum < 1) ? 'fullist' : 'emptylist'   ">You have : {{ taskSum }} tasks.</label>
	    <br>
	    <hr>
	    <label><strong>Tasks</strong></label>
	    <ul class="list-group">
  		<li class="list-group-item" *ngFor="let task of taskList" let idx = index >
			<!--p style="padding-right:60px;"> [Task {{ taskid }} ] :</p-->
			<p style="padding-right:80px;"> {{ task  }}
			<button style="text-align:right;" type="button" class="btn btn-outline-danger" (click)="deleteTask(idx)">X</button>
			</p>
		</li>
	     </ul>
	     &emsp;
	     <br>
	     <button type="button" *ngIf="isShown" class="btn btn-warning" (click)="clearAll()" >ClearAll</button>
	</div>
</div>
